* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    width: 100%;
    background-color: #ecefef;   
}

.navbar{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 150px;
    height: 60px;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navbar-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-right a {
    text-decoration: none;
}

.navbar-right .login {
    color: #030303;
}

.navbar-right .request {
    color: white;
    background-color: #247324;
    border-radius: 12px;
    padding: 8px 16px;
    text-align: center;
}

.menu-icon {
    display: none;
}

.hero{
    background-color: #ecefef;
    width: 100%;
    padding: 100px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.hero-content-left {
  width: 60%;
}

.hero-content-left img{
    border-radius: 20px;
    width: 200px;
}

.hero-content-left h1 {
    font-size: 58px;
    font-weight: 500;
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
}

.hero-content-left p {
    margin-top: 20px;
    font-size: 14px;
    max-width: 400px;
    width: 100%;
    font-weight: 300;
    line-height: 24px;
}

.hero-content-left .cta {
    margin-top: 30px;
}

.hero-content-left .cta a{
    text-decoration: none;
    font-size: 12px;
    background-color:rgb(57, 101, 57);
    color: white;
    padding: 14px;
    border-radius: 10px;
}

.hero-content-left .cta p{ 
    margin-top: 25px;
    font-size: 10px;
}

.hero-content-right {
  width: 40%;
}

.hero-content-right .illustration {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero-content-right .illustration1{
    border: 2px solid black;
    width: 90%;
    height: 310px;
    border-radius: 15px;
    box-shadow: 0 6px #dfdfdf;
}

.hero-content-right .illustration1 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.hero-content-right .illustration2{
    border: 2px solid black;
    background-color: white;
    width: 90%;
    height: 80px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    box-shadow: 0 6px #dfdfdf;
}

.illustration2 .left {
    display: flex;
    align-items: center;
    gap: 18px;
    flex: 1;
}

.illustration2 .left .icon-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration2 .left svg {
    width: 80%;
    height: 90%;
}

.illustration2 .left h4{
    font-size: 14px;
}

.illustration2 .left p{
    font-size: 12px;
    padding-top: 4px;
}

.illustration2 .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.illustration2 .right .arrow-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration2 .right svg {
    width: 80%;
    height: 80%;
    color: green;
}


.groupcontent {
    display: flex;
    border-bottom: 1px solid rgb(223, 222, 222);
    width: 80%;
    margin: auto;
    padding: 50px 0;
    overflow: hidden;
}

.groupcontent p{
    font-size: 12px;
}

.groupcontent ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 80px;
    list-style-type: none;
}

.groupcontent ul { 
    font-weight: 600;
}



.title{
    width: 100%;
    position: relative;
    top: 60px;
}

.title h1{
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 36px;
    font-weight: 500;
}

.title p{
    text-align: center;
    position: relative;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    font-size: 20px;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 80%;
    margin: 70px auto 0;
    margin-top: 170px;
    border-bottom: 1px solid rgb(223, 222, 222);
    height: 450px;

}
.column-wrapper .column {
    width: 33.33%;
    flex: 1;
}

.column-wrapper .column .card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.column-wrapper .column .card2{
    position: relative;
    top: 30px;
}

.column-wrapper .column .card2 h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.column-wrapper .column .card2 p{
    line-height: 20px;
}

.content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0;
}

.content-left{
    width: 50%;
}

.content-left h1{
    font-size: 36px;
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    font-weight: 500;
}

.content-left p{
    font-size: 18px;
    max-width: 450px;
    width: 100%;
    margin-top: 20px;
    opacity: 50%;
    line-height: 25px;
}

.content-left ul {
    margin-top: 20px;
}

.content-left ul li svg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ecefef;
    padding: 3px;
}

.content-left ul li .size-6{
    width: 20px;
    color: #247324;
}

.content-left ul li{
    line-height: 40px;
    font-weight: bold;
    list-style-type: none;
}

.content-left .login{
    text-decoration: none;
    font-size: 12px;
    color: black;
    border: 1px solid rgb(133, 189, 249);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.content-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content-right .frame{
    border: 2px solid black;
    width: 300px;
    height: 100%;
    border-radius: 20px;
}

.content-right .frame img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.features-card{
    background-color: #ecefef;
    justify-content: space-between;
    padding: 60px 0;
}

.features-card .features{
    background-color: #ffffff;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    display: flex;
}

.features-left{
    width: 50%;
    padding: 50px;
}

.features-left img{
    width: 150px;
    border-radius: 20px;
}

.features-left h1{
    max-width: 290px;
    font-size: 30px;
    margin-top: 50px;
    font-weight: 500;
}

.features-left p{
    max-width: 300px;
    font-size: 12px;
    margin-top: 100px;
    line-height: 20px;
}

.features-left .login{
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: #000000;
    font-size: 10px;
    margin-top: 12px;
    display: inline-block;
}

.features-right{
    width: 50%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.features-right .frame{
    border: 2px solid black;
    width: 350px;
    height: 100%;
    border-radius: 20px;
}

.features-right .frame img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.features-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.features-wrapper .features2{
    width: 33.33%;
}

.features-wrapper .features2 .card{
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

.features-wrapper .features2 .card h1{
    font-size: 18px;
    
}

.features-wrapper .features2 .card h1 img{
    width: 30px;
}

.features-wrapper .features2 .card p{
    font-size: 12px;
    margin-top: 50px;
    line-height: 20px;
}

.testmonial-section .frame1 {
    width: 80%;
    margin: auto;
    text-align: center;  
    border-bottom: 1px solid rgb(229, 228, 228);
    padding: 30px 0;
}

.testmonial-section .frame1 h1{
    font-size: 36px;
    font-weight: 500;
}

.testmonial-section .frame1 p{
    margin: auto;
    max-width: 400px;
    font-size: 15px;
    line-height: 20px;
}

.testmonial-section .frame .frame2{
    width: 80%;
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid rgb(229, 228, 228);
}

.testmonial-section .frame .frame2 .frame2-left{
    width: 50%;
}

.testmonial-section .frame .frame2 .frame2-left h1{
    font-size: 30px;
    font-weight: 500;
}

.testmonial-section .frame .frame2 .frame2-left p{
    margin-top: 200px;
    max-width: 400px;
    font-size: 12px;
    line-height: 20px;
}

.testmonial-section .frame .frame2 .frame2-left .login{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    border: 2px solid  rgb(229, 228, 228);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.testmonial-section .frame .frame2 .frame2-right{
    width: 50%;
}

.testmonial-section .frame .frame2 .frame2-right .cards{
    background-color: #f3f6fb;
    border-radius: 10px;
    width: 80%;
    height: 400px;
    margin-left: auto;
    display: flex;
}

.frame2 .frame2-right .cards .cards2{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    width: 80%;
    height: 80%;
    margin: auto;
}

.frame2 .frame2-right .cards .cards2 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.testmonial-section .frame .frame3{
    width: 80%;
    margin: auto;
    padding: 40px 0;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #e7e5e5;
}

.testmonial-section .frame .frame3 .frame3-left{
    width: 50%;
}

.testmonial-section .frame .frame3 .frame3-left h1{
    font-size: 30px;
    font-weight: 500;
}

.testmonial-section .frame .frame3 .frame3-left p{
    max-width: 400px;
    font-size: 12px;
    margin-top: 200px;
    line-height: 20px;
}

.testmonial-section .frame .frame3 .frame3-left .login{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    border: 1px solid  rgb(229, 228, 228);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.testmonial-section .frame .frame3 .frame3-right{
    width: 50%;
}

.testmonial-section .frame .frame3 .frame3-right .cards{
    background-color: #fde7e4;
    border-radius: 10px;
    width: 80%;
    height: 400px;
    margin-left: auto;
    display: flex;
}

.frame3 .frame3-right .cards .cards2{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    width: 80%;
    height: 80%;
    margin: auto;
}

.frame3 .frame3-right .cards .cards2 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.testmonial-section .frame .frame4{
    width: 80%;
    margin: auto;
    padding: 40px 0;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #e7e5e5;
}

.testmonial-section .frame .frame4 .frame4-left{
    width: 50%;
}

.testmonial-section .frame .frame4 .frame4-left h1{
    font-size: 30px;
    font-weight: 500;
}

.testmonial-section .frame .frame4 .frame4-left p{
    max-width: 400px;
    font-size: 12px;
    margin-top: 200px;
    line-height: 20px;
}

.testmonial-section .frame .frame4 .frame4-left .login{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    border: 1px solid rgb(229, 228, 228);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.testmonial-section .frame .frame4 .frame4-right{
    width: 50%;
}

.testmonial-section .frame .frame4 .frame4-right .cards{
    background-color: #e4fce5;
    border-radius: 10px;
    width: 80%;
    height: 400px;
    margin-left: auto;
    display: flex;
}

.frame4 .frame4-right .cards .cards2{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    width: 80%;
    height: 80%;
    margin: auto;
}

.frame4 .frame4-right .cards .cards2 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.container-class{
    background-color:  #ecefef;
    padding: 80px 0;
}

.container-class .class{
    text-align: center;
    
}

.container-class .class h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
}

.container-class .class p{
    font-size: 15px;  
    max-width: 500px;
    margin: auto;
    line-height: 20px;
}

.container-class .class1{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
}

.container-class .class1 .class1-left{
    width: 35%;
    height: 450px;
}

.container-class .class1 .class1-left img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.container-class .class1 .class1-right{
    width: 65%;
    padding: 50px;
}

.container-class .class1 .class1-right h1{
    font-size: 40px;
    font-weight: 500;
}

.container-class .class1 .class1-right p{
    margin-top: 50px;
    font-size: 20px;
    max-width: 550px;
    border-bottom: 1px solid rgb(231, 229, 229);
    padding-bottom: 40px;
    line-height: 25px;
}

.container-class .class1 .class1-right2 h3 {
    margin-top: 50px;
    font-size: 15px;
}

.container-class .class1 .class1-right2 div {
    font-size: 12px;
    margin-top: 20px;
}

.table-content .table1{
    padding-top: 80px;
    text-align: center;
}

.table-content .table1 h1{
    font-size: 40px;
    font-weight: 500;
}

.table-content .table1 p{
    font-size: 15px;
    max-width: 500px;
    line-height: 25px;
    margin: auto;
}

.table-wrapper{
    display: flex; 
    justify-content: space-between;
    width: 80%;
    margin: auto;
    gap: 30px;
    padding: 40px 0 70px;
    border-bottom: 1px solid  rgb(231, 229, 229);
}

.table-wrapper .table{
    width: 33.33%;
}

.table-wrapper .table .card{
    border-radius: 10px;
    padding: 20px 0;
}

.table-wrapper .table .card img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.table-wrapper .table .card2 h1{
    font-weight: 500;
}

.table-wrapper .table .card2 p{
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
}

.table2 .faq{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 70px;
}

.table2 .faq .faq-left{
    width: 40%;
}

.table2 .faq .faq-left h1{
    max-width: 250px;
    font-size: 30px;
}

.table2 .faq .faq-left p{
    font-size: 12px;
    max-width: 300px;
    margin-top: 20px;
    line-height: 20px;
}

.table2 .faq .faq-right{
    width: 60%;
}

.table2 .faq .faq-right .options .option1{
    border:2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.table2 .faq .faq-right .options .option1 h1{
    font-size: 20px;
    margin: 10px;
}

.table2 .faq .faq-right .options .option1 p{
    font-size: 15px;
    max-width: 500px;
    margin: 10px;
    margin-top: 20px;
    line-height: 25px;
}

.table2 .faq .faq-right .options .option2{
    font-size: 12px;
    border: 2px solid rgb(231, 229, 229);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.table2 .faq .faq-right .options .option2 h1{
    margin: 10px;
    font-weight: 500;
}

.table2 .faq .faq-right .options .option3{
    font-size: 12px;
    border: 2px solid rgb(231, 229, 229);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.table2 .faq .faq-right .options .option3 h1{
    margin: 10px;
    font-weight: 500;
}

.table2 .faq .faq-right .options .option4{
    font-size: 12px;
    border: 2px solid rgb(231, 229, 229);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.table2 .faq .faq-right .options .option4 h1{
    margin: 10px;
    font-weight: 500;
}

.container{
    padding: 80px 0;
}

.container2{
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    margin: auto;
}

.container2 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.main-content{
    width: 80%;
    display: flex;
    margin: auto;
    border-bottom: 1px solid  rgb(231, 229, 229);
    padding-bottom: 40px;
}

.main-content-left{
    width: 40%;
}

.main-content-left img{
    margin-left: -16px;
    margin-top: -16px;
}

.main-content-left h1{
    font-size: 23px;
    margin-top: 50px;
}

.main-content-left a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
}

.main-content-right{
    width: 60%;
    display: flex;
    justify-content: space-between ;
}

.main-content-right ul h1{
    margin-left: 70px;
    margin-top: 0;
    font-size: 20px;
}

.main-content-right ul li{
    margin-left: 70px;
    line-height: 60px;
    list-style-type: none;
}

.lower-footer{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.lower-footer .main4{
    display: flex;
    list-style-type: none;
    gap: 50px;
}

@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar{
        width: 90%;
    }

    .navbar-left {
        gap: 16px;
    }

    .logo img {
        width: 100px;
        height: 50px;
    }

    .navbar-links {
        gap: 16px;
    }


    .navbar-right {
        gap: 16px;
    }

    .navbar-right a {
        font-size: 14px;
    }

    .navbar-right .request {
        padding: 6px 12px;
    }

    .menu-icon  {
        display: none;
    }

    /* Hero Section */
    .hero{
        padding: 40px 0;
    }

    .hero-content {
        width: 90%;
    }

    .hero-content-left img{
        border-radius: 16px;
        width: 150px;
    }

    .hero-content-left h1 {
        font-size: 28px;
        font-weight: 500;
        max-width: 300px;
        margin-top: 16px;
    }

    .hero-content-left p {
        margin-top: 16px;
        font-size: 12px;
        max-width: 250px;
        font-weight: 300;
        line-height: 18px;
    }

    .hero-content-left .cta {
        margin-top: 20px;
    }

    .hero-content-left .cta a{
        font-size: 12px;
        padding: 8px;
        border-radius: 8px;
    }

    .hero-content-left .cta p{ 
        margin-top: 25px;
        font-size: 10px;
    }

    .hero-content-right {
        width: 40%;
    }

    .hero-content-right .illustration {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .hero-content-right .illustration1{
        border: 2px solid black;
        width: 90%;
        height: 310px;
        border-radius: 15px;
        box-shadow: 0 6px #dfdfdf;
    }

    .hero-content-right .illustration1 img{
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .hero-content-right .illustration2{
        border: 2px solid black;
        background-color: white;
        width: 90%;
        height: 80px;
        border-radius: 15px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding: 12px;
        box-shadow: 0 6px #dfdfdf;
    }

    .illustration2 .left {
        display: flex;
        align-items: center;
        gap: 18px;
        flex: 1;
    }

    .illustration2 .left .icon-wrapper {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #e1e1e1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .illustration2 .left svg {
        width: 80%;
        height: 90%;
    }

    .illustration2 .left h4{
        font-size: 14px;
    }

    .illustration2 .left p{
        font-size: 12px;
        padding-top: 4px;
    }

    .illustration2 .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .illustration2 .right .arrow-wrapper {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .illustration2 .right svg {
        width: 80%;
        height: 80%;
        color: green;
    }

    .groupcontent {
        width: 90%;
        padding: 40px 0;
    }

    .groupcontent ul {
        margin-left: 40px;
    }

    .title{
        top: 40px;
    }

    .title p{
        max-width: 600px;
        width: 100%;
        font-size: 18px;
        top: 50px;
    }

    .column-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        margin-top: 70px;
        height: 100%;
        padding: 40px 0 80px;
    }
    .column-wrapper .column {
        width: 100%;
    }

    .content{
        width: 90%;
    }

    .content-left h1{
        font-size: 30px;
        margin-top: 15px;
    }

    .content-left p{
        margin-top: 15px;
        font-size: 13px;
        font-size: 15px;
    }

    .content-right{
        padding-left: 50px;
    }

    .content-right .frame{
        width: 100%;
        height: 90%;
    }

    .features-card{
        padding: 40px 0;
    }

    .features-card .features{
        width: 90%;
        padding: 20px;
    }

    .features-left{
        padding: 50px 0;
    }

    .features-left img{
        width: 100px;
    }

    .features-left h1{
        margin-top: 15px;
        width: 100%;
    }

    .features-left p{
        width: 100%;
        font-size: 12px;
        margin-top: 50px;
    }

    .features-left .login{
        margin-top: 15px;
        display: inline-block;
    }

    .features-right{
        padding-left: 50px;
    }

    .features-right .frame{
        width: 100%;
        height: 100%;
    }
    
    .features-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        padding: 20px 0;
    }

    .features-wrapper .features2{
        width: 100%;
    }

    .features-wrapper .features2 .card{
        width: 100%;
    }

    .features-wrapper .features2 .card h1{
        font-size: 18px;
    }

    .features-wrapper .features2 .card p{
        font-size: 12px;
    } 

    .testmonial-section .frame1 {
        width: 90%;
        padding: 20px 0;
    }

    .testmonial-section .frame .frame2{
        width: 90%;
    }

    .testmonial-section .frame .frame2 .frame2-left p{
        margin-top: 130px;
        max-width: 330px;
        width: 100%;
    }

    .testmonial-section .frame .frame2 .frame2-right .cards{
        width: 85%;
        height:300px;
    }

    .testmonial-section .frame .frame3{
        width: 90%;
    }

    .testmonial-section .frame .frame3 .frame3-left p{
        margin-top: 130px;
        max-width: 330px;
        width: 100%;
    }

    .testmonial-section .frame .frame3 .frame3-right .cards{
        width: 85%;
        height:300px;
    }

    .testmonial-section .frame .frame4{
        width: 90%;
    }

    .testmonial-section .frame .frame4 .frame4-left p{
        margin-top: 130px;
        max-width: 330px;
        width: 100%;
    }

    .testmonial-section .frame .frame4 .frame4-right .cards{
        width: 85%;
        height:300px;
    }

    .container-class{
        padding: 60px 0;
    }

    .container-class .class1{
        width: 90%;
    }

    .container-class .class1 .class1-left{
        width: 40%;
        height: 350px;
    }

    .container-class .class1 .class1-left img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .container-class .class1 .class1-right{
        width: 60%;
        padding: 25px;
    }

    .container-class .class1 .class1-right p{
        margin-top: 30px;
        width: 100%;
        padding-bottom: 40px;
        font-size: 16px;
    }

    .container-class .class1 .class1-right2 h3 {
        margin-top: 30px;
    }

    .table-content .table1{
        padding-top: 60px;
    }

    .table-content .table1 h1{
        font-size: 30px;
        font-weight: 500;
    }

    .table-content .table1 p{
        font-size: 15px;
        width: 100%;
    }

    .table-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
    }
    .table-wrapper .table{
        width: 100%;
    }

    .table2 .faq{
        width: 90%;
    }

    .table2 .faq .faq-left{
        width: 40%;
    }

    .table2 .faq .faq-left h1{
        max-width: 250px;
        font-size: 30px;
    }

    .table2 .faq .faq-left p{
        max-width: 250px;
    }

    .table2 .faq .faq-right{
        padding-left: 15px;
    }

    .container{
        padding: 60px 0;
    }
    
    .container2{
        width: 90%;
        height: 380px;
    }

    .main-content{
        width: 90%;
    }

    .main-content-right ul h1{
        margin-left: 0px;
    }

    .main-content-right ul li{
        margin-left: 0px;
    }

    .lower-footer{
        width: 90%;
    }
}
@media screen and (max-width: 480px) {
    .navbar{
        width: 100%;
        margin: auto;
    }

    .logo img {
        width: 130px;
        height: 60px;
    }

    .on-mobile {
        display: none;
    }
    
    .menu-icon  {
        display: block;
    }

    .hero{
        padding: 20px 0;
    }

    .hero-content {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }

    .hero-content-left {
        width: 100%;
    }

    .hero-content-left img{
        border-radius: 20px;
        width: 200px;
    }

    .hero-content-left h1 {
        font-size: 36px;
        font-weight: 500;
        max-width: 100%;
    }

    .hero-content-left p {
        margin-top: 18px;
        font-size: 14px;
        max-width: 100%;
        line-height: 22px;
    }

    .hero-content-left .cta {
        margin-top: 28px;
    }

    .hero-content-left .cta p{ 
        margin-top: 20px;
        font-size: 12px;
    }

    .hero-content-right {
        width: 100%;
        margin-top: 20px;
    }

    .hero-content-right .illustration {
        width: 70%;
        margin: auto;
    }

    .hero-content-right .illustration1{
        width: 100%;
        height: 250px;
    }

    .hero-content-right .illustration2{
        width: 100%;
        height: 60px;
        padding: 10px;
    }

    .illustration2 .left {
        gap: 16px;
    }

    .groupcontent {
        width: 95%;
        padding: 30px 0;
        overflow: hidden;
    }

    .groupcontent ul { 
        margin-left: 20px;
    }
    
    .groupcontent ul li { 
        font-weight: 600;
        font-size: 13px;
    }


    
    .title{
        width: 100%;
        position: relative;
        top: 10px;
    }
    
    .title h1{
        font-size: 26px;
    }
    
    .title p{
        top: 40px;
        max-width: 400px;
        width: 100%;
        font-size: 12px;
    }
    .column-wrapper {
        display: grid;
        grid-template-columns: auto;
        width: 95%;
        margin: auto;
        margin-top: 70px;
        height: 100%;
        line-height: 50px;
        padding: 0 0 40px 0;
    }
    .column-wrapper .column .card{
        margin: auto;
    }
    .column-wrapper .column {
        width: 100%;
        flex: 1;
    }
    
    .column-wrapper .column .card img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    
    .column-wrapper .column .card2{
        position: relative;
        top: -5px;
        margin: 10px;
        line-height: 25px;
    }

    .content{
        width: 100%;
        display: block;
        padding: 40px 0;
    }

    .content-left{
        width: 100%;
        padding: 10px;
    }

    .content-left p{
        font-size: 14px;
    }

    .content-right{
        width: 100%;
        align-items: flex-start;
        padding-left: 0;
        margin-top: 30px;
     
    }

    .content-right .frame{
        width: 70%;
        height: 300px;
        margin: auto;
    }

    .content-right .frame img{
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .features-card .features{
        display: block;
        width: 90%;

    }

    .features-left{
        width: 100%;
        padding: 10px;
    }

    .features-left img{
        width: 150px;
    }

    .features-left h1{
        max-width: 400px;
        width: 100%;
        margin-top: 30px;
    }

    .features-left p{
        max-width: 500px;
        width: 100%;
        margin-top: 70px;
    }

    .features-right{
        width: 100%;
        padding-left: 0;
        align-items: flex-start;
    }

    .features-right .frame{
        width: 80%;
        height: 250px;
        margin: auto;
    }

    .features-wrapper{
        display: block;
        width: 90%;
    }

    .features-wrapper .features2{
        width: 100%;
        margin-top: 20px;
    }

    .features-wrapper .features2 .card{
        width: 100%;
        background-color: white;
        border-radius: 12px;
        padding: 20px;
    }

    .features-wrapper .features2 .card h1{
        font-size: 18px;
    }

    .features-wrapper .features2 .card p{
        font-size: 12px;
        margin-top: 100px;
    }

     .testmonial-section{

     }

    .testmonial-section .frame1 {
        width: 95%;
    }

    .testmonial-section .frame1 h1{
        font-size: 30px;
    }

    .testmonial-section .frame1 p{
        max-width: 400px;
        width: 100%;
        font-size: 14px;
    }

    .testmonial-section .frame .frame2{
        width: 95%;
        display: block;
    }

    .testmonial-section .frame .frame2 .frame2-left{
        width: 100%;

    }

    .testmonial-section .frame .frame2 .frame2-left p{
        margin-top: 100px;
        max-width: 500px;
    }

    .testmonial-section .frame .frame2 .frame2-right{
        width: 100%;
        padding-top: 40px;
    }

    .testmonial-section .frame .frame2 .frame2-right .cards{
        width: 80%;
        height: 320px;
        margin-left: 0;
        margin: auto;
    }
    .testmonial-section .frame .frame3{
        width: 95%;
        display: block;
    }

    .testmonial-section .frame .frame3 .frame3-left{
        width: 100%;
    }

    .testmonial-section .frame .frame3 .frame3-left p{
        margin-top: 100px;
        max-width: 500px;
    }

    .testmonial-section .frame .frame3 .frame3-right{
        width: 100%;
        padding-top: 40px;
    }

    .testmonial-section .frame .frame3 .frame3-right .cards{
        width: 80%;
        height: 320px;
        margin-left: 0;
        margin: auto;
    }

     .testmonial-section .frame .frame4{
        width: 95%;
        display: block;
    }

    .testmonial-section .frame .frame4 .frame4-left{
        width: 100%;
    }

    .testmonial-section .frame .frame4 .frame4-left p{
        margin-top: 100px;
        max-width: 500px;
    }

    .testmonial-section .frame .frame4 .frame4-right{
        width: 100%;
        padding-top: 40px;
    }

    .testmonial-section .frame .frame4 .frame4-right .cards{
        width: 80%;
        height: 320px;
        margin-left: 0;
        margin: auto;
    }

    .container-class{
        padding: 50px 0;
    }

    .container-class .class{
        text-align: center;
        
    }

    .container-class .class h1{
        font-size: 36px;
    }

    .container-class .class p{
        font-size: 13px;
        width: 90%;
    }

    .container-class .class1{
        display: block;
        width: 90%;
    }

    .container-class .class1 .class1-left{
        width: 100%;
        height: 370px;
    }

    .container-class .class1 .class1-right{
        width: 100%;
        padding: 0;
        margin-top: 40px;
    }

    .container-class .class1 .class1-right h1{
    font-size: 26px;
    }

    .container-class .class1 .class1-right p{
        margin-top: 50px;
    }

    .container-class .class1 .class1-right2 h3 {
        margin-top: 50px;
    }

    .container-class .class1 .class1-right2 div {
        margin-top: 20px;
    }

    .table-content .table1{
        padding-top: 60px;
    }

    .table-content .table1 h1{
        font-size: 30px;
    }

    .table-content .table1 p{
        font-size: 12px;
        max-width: 500px;
        width: 100%;
    }

    .table-wrapper{
        display: block; 
        width: 95%;
    }

    .table-wrapper .table{
        width: 100%;
    }

    .table2 .faq{
        display: block;
        width: 100%;
        padding-top: 50px;
    }

    .table2 .faq .faq-left{
        width: 100%;
        padding: 10px;
    }

    .table2 .faq .faq-left h1{
        max-width: 500px;
    }

    .table2 .faq .faq-left p{
        max-width: 500px;
        width: 100%;
    }

    .table2 .faq .faq-right{
        width: 100%;
        padding-left: 0;
        margin-top: 30px;
        padding: 10px;
    }

    .container{
        padding: 40px 10px;
    }

    .container2{
        width: 100%;
        height: 250px;
    }

    .main-content{
        width: 95%;
        display: block;
        padding: 30px 0px;
    }

    .main-content-left{
        width: 100%;
    }

    .main-content-left h1{
        margin-top: 20px; 
    }

    .main-content-right{
        width: 100%;
        display: block;
    }

    .main-content-right ul h1{
        margin-top: 30px;
        font-size: 20px;

    }

    .main-content-right ul li{
        line-height: 40px;
    }

    .lower-footer{
        width: 100%;
        display: block;
        padding: 30px 10px;
    }

    .lower-footer .main4{
        display: block;
        list-style-type: none;
        line-height: 30px;
        margin-top: 10px;
    }

}

